@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

*,body{
  margin: 0;
  padding: 0;
}

.mainContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftContainer{
  /* background-image:url("../src/assets/caleb-ekeroth-wSBQFWF77lI-unsplash.jpg"); */
  background-image:url("../src/assets/IMG-20240901-WA0008.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  max-height: 100vh;
  width: 50%;
}

.rightContainer{
  max-height: 100vh;
  overflow: auto;
  width: 50%;
}

.card-body{
  border: 1px dashed #f8857e;
  background-color: #fdf5f5;
}

.rightContainer h1,h5{
  font-family: "Petit Formal Script", cursive;
  font-weight: 800;
  color: #24298f;
}

.rightContainer p{
  text-align: center;
}

.rightContainer h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  color: #24298f;
}

.leftContainer h1{
  color: #f5f3f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px black;
  font-size: 7vh;
}
.leftContainer h4{
  color: #f3f3f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px black;
  font-size: 4vh;
}

.couple-name{
  font-family: "Petit Formal Script", cursive;
  font-weight: 600;
  font-style: normal;
  /* color: #d43e2b; */
  color: rgb(241, 214, 60);
  text-shadow: 1px 1px black;
  font-size: 4vh;
}

.mapFrame{
  border: 2px dashed gold;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.leftContainer p{
  color: #f3f3f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px black;
}

.timer-body{
  border: 1px dashed #eddedd;
  padding: 5px;
  border-radius: 20px;
}

.timer-body p{
  margin-bottom: 0;
  padding: 2px;
  /* background-color: rgba(255, 255, 255, 0.06); */
  font-family: "Petit Formal Script", cursive;
}

.timer-body span{
  color: gold;
  font-size: 3vh;
  font-family: "Petit Formal Script", cursive;
}
.timer-body div{
  color: #f7736a;
  font-size: 3vh;
  font-family: "Petit Formal Script", cursive;
}

.carousel-card{
  padding: 10px;
  margin: 10px;
  width: 80%;
}

.carousel-card img{
  background-size: cover;
  max-width: 300px;
}

.carousel-card h6{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px gray;
}

.copyright-text{
  display: none;
}

.left-text{
  margin-top: 30vh;
  text-shadow: 1px 1px black;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.dateContainer{
  font-family: "Petit Formal Script", cursive;
  padding: 10px 20px;
}

.startDate{
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  padding: 2px 0px;
}

.left-text img{
  border-radius: 50%;
}

.card-flow{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 864px) {
  .mainContainer{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .leftContainer{
    background-image:url("../src/assets/IMG-20240901-WA0008.jpg");
    /* background-image:url("../src//assets/caleb-ekeroth-wSBQFWF77lI-unsplash.jpg"); */
    background-size: cover;
    width: 100%;
  }
  .rightContainer{
    width: 100%;
    overflow: initial;
  }
  .copyright-text{
    display: block;
    margin-bottom: 2px;
  }
  .card-flow{
    display: flex;
    flex-direction: column;
  }
}